/*  You can combine (flex-grow) + (flex-shrink) + (flexbasis) in one shorthand expression
example: flex: 1 2 12px; where flex-grow is 1 flex-shrink is 2 and flex-basis is 12px;
*/

<style>
  #box-container {
    display: flex;
    height: 500px;
  }
  #box-1 {
    background-color: dodgerblue;
    flex: 2 2 150px;
    height: 200px;
  }

  #box-2 {
    background-color: orangered;
    flex: 1 1 150px;
    height: 200px;
  }
</style>

<div id="box-container">
  <div id="box-1"></div>
  <div id="box-2"></div>
</div>
