/* Learned how to alighn the items on the cross axis ( the opposite of justify content on the main axis )
values include: flex-start, flex-end, center, stretch, baseline
In this excersise I am aligning the items to the center on the cross axis using align-items: center;
*/


<style>
  #box-container {
    background: gray;
    display: flex;
    height: 500px;
    align-items: center;
  }
  #box-1 {
    background-color: dodgerblue;
    width: 200px;
    font-size: 24px;
  }

  #box-2 {
    background-color: orangered;
    width: 200px;
    font-size: 18px;
  }
</style>

<div id="box-container">
  <div id="box-1"><p>Hello</p></div>
  <div id="box-2"><p>Goodbye</p></div>
</div>
